@import "./forms.scss";

* {
  font-family: "Roboto";
  color: var(--text-color);
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
main {
  padding: 8px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.full {
  width: 100%;
}

.text-center {
  text-align: center;
}
